#                                              ASSIGNMENT 1

Q1.Create one variable containing following type of data:
i)string
ii)list
iii)float
iv)tuple

In [2]:
#string
a="shravankumar"
type(a)

str

In [4]:
#list
b=[1,2,3,"PWSKILLS",True,2+3j]
type(b)

list

In [5]:
#float
v=3.34
type(v)

float

In [15]:
#tuple
E=(1,2,"abc",True)
type(E)

tuple

Q2. Given are some following variables containing data:

(i)var1 = ‘ ‘

(ii)var2 = ‘[ DS , ML , Python]’

(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)var4 = 1

What will be the data type of the above given variables.

In [5]:
var1=' '
var2='[DS,ML<Python]'
var3=['DS','ML','Python']
var4=1
type(var1)

str

In [7]:
type(var2)

str

In [9]:
type(var3)

list

In [11]:
type(var4)

int

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [14]:

''' i) /:- It is the operator called division operator.It is used for the result of division of two numbers.For example'''
A=66
B=3
A/B

22.0

In [16]:
'''ii) %:- It is the modulus operator.It gives us the remainder of the division.for example'''
A=65
B=3
A%B

2

In [18]:
'''iii) // :- It is the floor division operator.It gives us the integer value of the quotient.for example'''
A=66
B=3
A//B

22

In [19]:
'''iv) ** :- It is the exponentiation operator.It raises the first no. to the power of the second.for example'''
A=2
B=3
A**B

8

Q4.Create a list of length 10 of your choise containing multiples types of data.Using for loop print the element and its types.

In [24]:
l=[23,54,"PW skills","Shravan",True,False,3+5j,25,76,65]
for i in l:
    print( type(i),i)

<class 'int'> 23
<class 'int'> 54
<class 'str'> PW skills
<class 'str'> Shravan
<class 'bool'> True
<class 'bool'> False
<class 'complex'> (3+5j)
<class 'int'> 25
<class 'int'> 76
<class 'int'> 65

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [13]:
number_a = int(input("Enter the value of number A: "))
number_b = int(input("Enter the value of number B: "))
def find_divisible_count(a, b):
    count = 0

    while a >= b and a % b == 0:
        a = a // b
        count += 1

    return count




result = find_divisible_count(number_a, number_b)
if result > 0:
    print(f"{number_a} is purely divisible by {number_b}.")
    print(f"It can be divided {result} times by {number_b}.")
else:
    print(f"{number_a} is not purely divisible by {number_b}.")

Enter the value of number A: 10
Enter the value of number B: 2
10 is purely divisible by 2.
It can be divided 1 times by 2.

Q6.Create a list containing 25 in type data.Using for loop and if-else condition print if the element is divisible by 3 or not.

In [14]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i," is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3  is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6  is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9  is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12  is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15  is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18  is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21  is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24  is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [20]:
'''A mutable objects can be changed after it is created.Examples:-List,set,Dictionary'''
l=[1,23,"shravankumar",True]
l

[1, 23, 'shravankumar', True]

In [21]:
l[2]='PWskills'
l

[1, 23, 'PWskills', True]

In [22]:
'''An immutable objects cannot be changed after it is created.Examples:-tuples,int,string,float,bool'''
a=(1,2,"shravankumar",False)
a

(1, 2, 'shravankumar', False)

In [23]:
a[2]='PWskills'

TypeError: 'tuple' object does not support item assignment